@charset "utf-8";

body {
	background-color: #E1DAC2; 
	color: #ED4A8C; 
}

.header {
	background-color: #A3904F;
}

.jumbotron-fluid {
	background-image: url("../images/backgounnd2.jpg");
}

h2 {
	color: #BDAE7A; 
}
p {
	color: #8F7E46
}
img {
  width: 100%;
  height: auto;
}